<!-- super basic preview using markdown-it, https://github.com/markdown-it/markdown-it -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.js" integrity="sha256-uhsZv/1rhiqa0K9vDMZzGa5ZEFVECUsJ1yQ7qtShRlc=" crossorigin="anonymous"></script>
<script>
    var md = window.markdownit();
    var mdInput = document.getElementById("markdownInput");
    var htmlOut = document.getElementById("htmlOutput");
    var renderBtn = document.getElementById("renderMdBtn");
    var clearBtn = document.getElementById("clearMdBtn");
    function renderMarkdown() {
        htmlOut.innerHTML = md.render(mdInput.value);
    }
    function clearEditor() {
        htmlOut.innerHTML = "";
        mdInput.value = "";
    }
    renderBtn.addEventListener("click", renderMarkdown);
    clearBtn.addEventListener("click", clearEditor);
</script>